<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Exclusive - All Products</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js" defer></script>
  </head>
  <body>
    <div id="siteHeader"></div>
    
    <div class="wrapper">
      <div id="breadcrumb"></div>
      <section class="products-section">
        <div class="product-grid" id="allProducts"></div>
      </section>
    </div>

    <div id="siteFooter"></div>

  </body>
</html>
